* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  color: black;
}
.section-imagem {
  width: 65%;
}
.imagem {
  height: 100vh;
  width: 100%;
  border-radius: 15px;
}
.donation-section {
  background: white;
  width: 50%;
  text-align: center;
}
.donation-section h1 {
  position: absolute;
  text-align: left;
  left: 6px;
  top: 10%;
  width: 400px;
  color: white;
  text-shadow: 2px 1px grey;
}
.cabeçalho {
  background: black;
  height: 80px;
  text-align: center;
  font-size: 20px;
}
.cabeçalho h3 {
  padding-top: 10px;
  color: white;
}
.content {
  top: 30%;
  position: absolute;
  height: 55%;
  width: auto;
}
.cards {
  height: 160px;
  width: 300px;
  background: black;
  font-size: 25px;
  border-radius: 20px;
  margin-left: 50%;
  color: white;
  box-shadow: 10px 5px 5px grey;
}
.cards p {
  font-size: 15px;
  text-align: left;
  margin-left: 15px;
}
.cards h2 {
  padding: 20PX;
}
@media (max-width: 1252px){
body{
  display: block;
}
.section-imagem, .donation-section {
  width: 100%;
}
.cabeçalho {
  display: none;
}
}
@media (max-width: 586px) {
  .section-imagem {
    width: 65%;
    height: 100vh;
  }
  .content {
    top: 30%;
    position: absolute;
    height: 55%;
    width: auto;
  }
  .cards {
    height: 160px;
    width: 300px;
    background: black;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 0%;
    color: white;
    box-shadow: 10px 5px 5px grey;
  }
}
@media (max-width: 583px) {
  .section-imagem {
    width: 100%;
    height: 100vh;
  }
  .content {
    top: 30%;
    position: absolute;
    height: 55%;
    width: 100%;
  }
  .cards {
    height: 160px;
    width: 100%;
  }
}
@media (max-width: 405px) {
  .section-imagem {
    width: 100%;
    height: 100vh;
  }
  .content {
    height: 55%;
    width: 100%;
  }
  .cards {
    height: 100px;
    width: 100%;
  }
  .cards p {
    font-size: 10px;
    text-align: left;
    margin-left: 15px;
  }
  .cards h2 {
    padding: 10PX;
  }
}